@use "@/styles/base/breakpoint.module.scss" as breakpoint;
@use "@/styles/base/color.module.scss" as color;

.wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.back_btn_wrapper {
  display: flex;

  @media (max-width: breakpoint.$breakpointTablet) {
    width: 100%;
  }
}

.container {
  flex: 2 1 100%;

  max-width: 50rem;
  box-shadow: 0px 0px 10px #00000040;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (max-width: breakpoint.$breakpointTablet) {
    max-width: 100%;
    width: 100%;
  }
}

.header {
  box-shadow: 0px 0px 10px #00000040;

  &__banner {
    background-color: color.$primary100;
    height: 12rem;
    padding: 0.5rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 0 1rem 0.5rem;

    &__top {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }
    &__avatar {
      width: 6rem;
      height: 6rem;
      border: 2px solid color.$primary500;

      margin-top: -3.75rem;
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.business_services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  padding: 1rem;
  gap: 1rem;

  &__catalog_card {
    box-shadow: 0px 0px 10px #00000040;
    background: color.$grayscale200;

    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  &__review {
    display: flex;
    justify-content: center;
    padding: 2rem;

    &__no_review {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.business_reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;

    padding: 1rem 0;

    border-bottom: 2px solid #acacac;

    &__top {
      display: flex;
      gap: 1rem;
      &__right {
      }
    }
    &__content {
    }
  }
  &__write_btn {
    display: flex;
    justify-content: center;
  }
}

.business_header {
  display: flex;
  align-items: center;
  border-bottom: 1;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__avatar {
    // display: flex;
    // flex-direction: column;
    // gap: 0.5rem;
    width: 5rem;
    height: 5rem;
  }
}

.business_service_info_actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  &_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.see_more_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
