// MOBILE
$breakpointMobileSmallest: 320px;
$breakpointMobileSmall: 420px;
$breakpointMobileMedium: 520px;
$breakpointMobileLarge: 620px;
$breakpointMobileLargest: 660px;

// TABLET
$breakpointTablet: 896px;
$breakpointTabletLargest: 1000px;

// LAPTOP
$breakpointLaptopSmallest: 1200px;
