// COLORS

// PRIMARY
$primary100: #f9e1f4;
$primary200: #f4c5ee;
$primary300: #df9fdc;
$primary400: #bd7ac0;
$primary500: #8e4e96;
$primary600: #733981;
$primary700: #59276c;
$primary800: #411857;
$primary900: #2f0e48;

// SUCCESS
$success100: #dafad1;
$success200: #b0f5a5;
$success300: #78e173;
$success400: #4cc351;
$success500: #1d9b2e;
$success600: #15852e;
$success700: #0e6f2d;
$success800: #09592a;
$success900: #054a28;

// INFO
$info100: #c8f9e8;
$info200: #93f3da;
$info300: #5addc6;
$info400: #30bbaf;
$info500: #028e8e;
$info600: #016f7a;
$info700: #015466;
$info800: #003d52;
$info900: #002c44;

// warning
$warning100: #fdf1cd;
$warning200: #fbe09c;
$warning300: #f5c769;
$warning400: #ecad43;
$warning500: #e0870b;
$warning600: #c06b08;
$warning700: #a15305;
$warning800: #813d03;
$warning900: #6b2d02;

// danger
$danger100: #fce4d5;
$danger200: #fac2ac;
$danger300: #f19780;
$danger400: #e46e5e;
$danger500: #d3342e;
$danger600: #b52128;
$danger700: #971728;
$danger800: #7a0e26;
$danger900: #650824;

// accent
$accent100: #ccfcfe;
$accent200: #99f2fd;
$accent300: #66e0fb;
$accent400: #40cbf8;
$accent500: #03a9f4;
$accent600: #0283d1;
$accent700: #0162af;
$accent800: #00458d;
$accent900: #003275;

// grayscale
$grayscale100: #f8f8f8;
$grayscale200: #f1f1f1;
$grayscale300: #d5d5d5;
$grayscale400: #acacac;
$grayscale500: #757575;
$grayscale600: #645556;
$grayscale700: #543a3f;
$grayscale800: #43252d;
$grayscale900: #381622;

// gradient
$gradient100: #8e4e96;
$gradient200: #cb598f;
$gradient300: #f6727d;
$gradient400: #ff9969;
$gradient500: #ffc85f;
$gradient600: #f9f871;

$primaryText: #212121;
$secondaryText: $grayscale500;
$divider: #bdbdbd;
$textIcon: #ffffff;
$appBackground: #fcfcfc;
